/*
 * Reseteo básico y fuentes
 * CAMBIO: Se actualizó la fuente principal a "Google Sans Code"
 */
body {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400; /* 400 es el peso "normal" */
    font-style: normal;
    
    /* --- Estilos anteriores --- */
    line-height: 1.6;
    margin: 0;
    padding: 20px 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Contenedor Wrapper */
.wrapper {
    max-width: 40%;
    min-width: 350px; 
    margin: 0 auto; /* Centra el wrapper */
    background-color: #fff; /* Fondo blanco para el contenido */
    padding: 25px;
    border: 1px solid #ddd;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

/* --- Encabezado --- */
header {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.title-bar {
    font-size: 1.1em;
    font-weight: bold;
    color: #444;
}

/* --- Contenido Principal --- */
main {
    padding: 0;
}

.content-block p, .download-info p, .projects {
     margin-bottom: 20px;
}

.projects h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* --- Pie de Página --- */
footer {
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 40px;
    
    color: #777;
    text-align: center; /* Centra el contenido */
    font-size: 0.85em; /* Puntaje menor */
}

/* Estilo para los separadores */
footer .separator {
    margin: 0 10px;
}
